{{outlet}}
<div class="contact">
  <h2>CONTACT US</h2>
  <h4>Fill in the form below to learn more</h4>
</div>

<div class="row">
  <form class="" action="index.html" method="post">
    <div class="col-md-4">
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" placeholder="eg Bruce">
    </div>
    <div class="col-md-2">

    </div>

    <div class="col-md-4">
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" placeholder="eg Wayne">
    </div>
  </form>
</div>
<div class="row">
  <form>
  <div class="col-md-4">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="eg Batman@coolestsuperhero.com">
  </div>
</form>
</div>

<div class="row">
  <form>
  <div class="col-md-8">
    <label for="comment">comments</label>
    <textarea type="text" name="comment"></textarea>
  </div>
  </form>
</div>

&nbsp;&nbsp;&nbsp;<button type="submit" name="button" class="btn">Submit</button>
