<div class="slider">
    <ul class="slides">
      <li>
        <img src="/assets/images/bob-one.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/assets/images/pkhloe-general.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/assets/images/bob-general.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/assets/images/smart-three.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

  <script type="text/javascript">
  $(document).ready(function(){
   $('.slider').slider();
 });

  </script>
{{outlet}}

    <h1>Dogs</h1>
<ul>
  <div class="row">
{{#each model.dogs as |dog|}}
  {{dog-tile dog=dog}}
  {{/each}}
</div>
</ul>
<h1>Available puppies</h1>
<ul>
  <div class="row">
  {{#each model.puppies as |puppy|}}
    {{puppy-tile puppy=puppy}}
  {{/each}}
</div>
</ul>
