{{outlet}}

  <h1>Available dogs</h1>
<ul>
  {{#each model.dogs as |dog|}}
    {{admin-tile dog=dog update="update" destroyDog="destroyDog"}}
    {{/each}}
</ul>

{{new-dog saveDog2="saveDog3"}}

<h1>Available puppies</h1>
<ul>
  {{#each model.puppies as |puppy|}}
  <li>{{admin-puppy-tile puppy=puppy destroyPuppy="destroyPuppy"}}</li>
  {{/each}}
</ul>
