<form class="modal" action="index.html" method="post">
  <div class="row content">
    <div class="col-md-6">
      <label for="firstname">First name</label>
      <input type="text" name="firstname" value="">
    </div>

    <div class="col-md-6">
      <label for="lastname">Last name</label>
      <input type="text" name="firstname" value="">
    </div>

    <div class="col-md-6">
      <label for="phonenumber">Phone number</label>
      <input type="text" name="phonenumber" value="">
    </div>

    <div class="col-md-6">
      <label for="email">email address</label>
      <input type="text" name="email" value="">
    </div>
  </div>

  <div class="row content">
    <div class="col-md-8">
      <label for="price">Asking price</label>
      <input type="" name="price" value="{{puppy.price}}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <label for="bid">Your Bid</label>
      <input type="text" name="bid" value="" placeholder="eg. 35,000ksh">
    </div>
  </div>
</form>
