<li>
   <h1>{{trick.title}}</h1> <br> <p><img class="materialboxed" src={{trick.image1}}></p>
      <br> steps: {{trick.step1}} <br>

  {{#link-to 'admin3'  trick.id class= "btn btn-primary"}} See more{{/link-to}}
</li>
