<ul class="nav nav-tabs">
<li role="presentation" position="right"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span class="glyphicon glyphicon-th-list"></span></a></li>
<li role="presentation">

 <a href="/">Home</a>
</li>
</ul>
<div id="wrapper">

<!-- Sidebar -->
<div id="sidebar-wrapper">
 <ul class="sidebar-nav">
   <li class="sidebar-brand">
Smart Doggy
   </li>
   <li>
     <a href="/">Home</a>
   </li>
   <li>
     <a href="/services">Services</a>
   </li>
   <li>
     <a href="/contact">Contact us</a>
   </li>
 </ul>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$("#menu-toggle").click(function(e) {
 e.preventDefault();
 $("#wrapper").toggleClass("toggled");
});
</script>
<div class="dogs">
  {{outlet}}
</div>

<div class="footer">
  <div class="row">
  <div class="col-md-4">
    <h3>Smart doggy</h3>
    <p>Find the perfect puppy that suits you best</p>
    <a href="/">Home</a><br>
    <a href="/contact">Contact us</a><br>
    <a href="/services">Services</a>
  </div>
  <div class="col-md-4">
    <h3>Contact us</h3>
      <p>You can find us here:</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Landless <br>&nbsp;&nbsp;&nbsp;Thika, Kenya</p>
      <p><span class="glyphicon glyphicon-earphone"></span>&nbsp;+254-721688945 <br>&nbsp;&nbsp;&nbsp; +245-721552402</p>
      <p> <span class="glyphicon glyphicon-envelope"></span>&nbsp; donnawanjiru@gmail.com <br>&nbsp;&nbsp;&nbsp; nyoikelewis@gmai.com</p>
  </div>
  <div class="col-md-4">
      <h3>About us</h3>
      <p>We are a family and team dedicated to bring happiness and joy to other
      familes through pet love</p>
  </div>
  </div>
</div>
